<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hndl.cn.dao.shop.mapper.ShopOrderShowInfoDoMapper">
  <resultMap id="BaseResultMap" type="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="is_Deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="create_Operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_Operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_Modify_Time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="show_title" jdbcType="VARCHAR" property="showTitle" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="img1" jdbcType="VARCHAR" property="img1" />
    <result column="img2" jdbcType="VARCHAR" property="img2" />
    <result column="img3" jdbcType="VARCHAR" property="img3" />
    <result column="img4" jdbcType="VARCHAR" property="img4" />
    <result column="img5" jdbcType="VARCHAR" property="img5" />
    <result column="img6" jdbcType="VARCHAR" property="img6" />
    <result column="img7" jdbcType="VARCHAR" property="img7" />
    <result column="img8" jdbcType="VARCHAR" property="img8" />
    <result column="img9" jdbcType="VARCHAR" property="img9" />
    <result column="show_status" jdbcType="VARCHAR" property="showStatus" />
    <result column="check_operator" jdbcType="VARCHAR" property="checkOperator" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="prize_count" jdbcType="INTEGER" property="prizeCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, is_Deleted, create_Operator, create_time, last_Operator, last_Modify_Time, user_id, 
    item_id, order_id, show_title, detail, img1, img2, img3, img4, img5, img6, img7, 
    img8, img9, show_status, check_operator, prize_type, prize_count
  </sql>
  <select id="selectByExample" parameterType="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_order_show_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_order_show_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop_order_show_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDoExample">
    delete from shop_order_show_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDo">
    insert into shop_order_show_info (id, is_Deleted, create_Operator, 
      create_time, last_Operator, last_Modify_Time, 
      user_id, item_id, order_id, 
      show_title, detail, img1, 
      img2, img3, img4, img5, 
      img6, img7, img8, img9, 
      show_status, check_operator, prize_type, 
      prize_count)
    values (#{id,jdbcType=BIGINT}, #{isDeleted,jdbcType=CHAR}, #{createOperator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastOperator,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{showTitle,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{img1,jdbcType=VARCHAR}, 
      #{img2,jdbcType=VARCHAR}, #{img3,jdbcType=VARCHAR}, #{img4,jdbcType=VARCHAR}, #{img5,jdbcType=VARCHAR}, 
      #{img6,jdbcType=VARCHAR}, #{img7,jdbcType=VARCHAR}, #{img8,jdbcType=VARCHAR}, #{img9,jdbcType=VARCHAR}, 
      #{showStatus,jdbcType=VARCHAR}, #{checkOperator,jdbcType=VARCHAR}, #{prizeType,jdbcType=VARCHAR}, 
      #{prizeCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDo">
    insert into shop_order_show_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDeleted != null">
        is_Deleted,
      </if>
      <if test="createOperator != null">
        create_Operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastOperator != null">
        last_Operator,
      </if>
      <if test="lastModifyTime != null">
        last_Modify_Time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="showTitle != null">
        show_title,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="img1 != null">
        img1,
      </if>
      <if test="img2 != null">
        img2,
      </if>
      <if test="img3 != null">
        img3,
      </if>
      <if test="img4 != null">
        img4,
      </if>
      <if test="img5 != null">
        img5,
      </if>
      <if test="img6 != null">
        img6,
      </if>
      <if test="img7 != null">
        img7,
      </if>
      <if test="img8 != null">
        img8,
      </if>
      <if test="img9 != null">
        img9,
      </if>
      <if test="showStatus != null">
        show_status,
      </if>
      <if test="checkOperator != null">
        check_operator,
      </if>
      <if test="prizeType != null">
        prize_type,
      </if>
      <if test="prizeCount != null">
        prize_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="showTitle != null">
        #{showTitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null">
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        #{img3,jdbcType=VARCHAR},
      </if>
      <if test="img4 != null">
        #{img4,jdbcType=VARCHAR},
      </if>
      <if test="img5 != null">
        #{img5,jdbcType=VARCHAR},
      </if>
      <if test="img6 != null">
        #{img6,jdbcType=VARCHAR},
      </if>
      <if test="img7 != null">
        #{img7,jdbcType=VARCHAR},
      </if>
      <if test="img8 != null">
        #{img8,jdbcType=VARCHAR},
      </if>
      <if test="img9 != null">
        #{img9,jdbcType=VARCHAR},
      </if>
      <if test="showStatus != null">
        #{showStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkOperator != null">
        #{checkOperator,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null">
        #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="prizeCount != null">
        #{prizeCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDoExample" resultType="java.lang.Long">
    select count(*) from shop_order_show_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_order_show_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_Deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
      <if test="record.createOperator != null">
        create_Operator = #{record.createOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastOperator != null">
        last_Operator = #{record.lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null">
        last_Modify_Time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null">
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.showTitle != null">
        show_title = #{record.showTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.img1 != null">
        img1 = #{record.img1,jdbcType=VARCHAR},
      </if>
      <if test="record.img2 != null">
        img2 = #{record.img2,jdbcType=VARCHAR},
      </if>
      <if test="record.img3 != null">
        img3 = #{record.img3,jdbcType=VARCHAR},
      </if>
      <if test="record.img4 != null">
        img4 = #{record.img4,jdbcType=VARCHAR},
      </if>
      <if test="record.img5 != null">
        img5 = #{record.img5,jdbcType=VARCHAR},
      </if>
      <if test="record.img6 != null">
        img6 = #{record.img6,jdbcType=VARCHAR},
      </if>
      <if test="record.img7 != null">
        img7 = #{record.img7,jdbcType=VARCHAR},
      </if>
      <if test="record.img8 != null">
        img8 = #{record.img8,jdbcType=VARCHAR},
      </if>
      <if test="record.img9 != null">
        img9 = #{record.img9,jdbcType=VARCHAR},
      </if>
      <if test="record.showStatus != null">
        show_status = #{record.showStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.checkOperator != null">
        check_operator = #{record.checkOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeType != null">
        prize_type = #{record.prizeType,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeCount != null">
        prize_count = #{record.prizeCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_order_show_info
    set id = #{record.id,jdbcType=BIGINT},
      is_Deleted = #{record.isDeleted,jdbcType=CHAR},
      create_Operator = #{record.createOperator,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_Operator = #{record.lastOperator,jdbcType=VARCHAR},
      last_Modify_Time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=VARCHAR},
      item_id = #{record.itemId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      show_title = #{record.showTitle,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      img1 = #{record.img1,jdbcType=VARCHAR},
      img2 = #{record.img2,jdbcType=VARCHAR},
      img3 = #{record.img3,jdbcType=VARCHAR},
      img4 = #{record.img4,jdbcType=VARCHAR},
      img5 = #{record.img5,jdbcType=VARCHAR},
      img6 = #{record.img6,jdbcType=VARCHAR},
      img7 = #{record.img7,jdbcType=VARCHAR},
      img8 = #{record.img8,jdbcType=VARCHAR},
      img9 = #{record.img9,jdbcType=VARCHAR},
      show_status = #{record.showStatus,jdbcType=VARCHAR},
      check_operator = #{record.checkOperator,jdbcType=VARCHAR},
      prize_type = #{record.prizeType,jdbcType=VARCHAR},
      prize_count = #{record.prizeCount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDo">
    update shop_order_show_info
    <set>
      <if test="isDeleted != null">
        is_Deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="createOperator != null">
        create_Operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        last_Operator = #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_Modify_Time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="showTitle != null">
        show_title = #{showTitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null">
        img1 = #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        img2 = #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        img3 = #{img3,jdbcType=VARCHAR},
      </if>
      <if test="img4 != null">
        img4 = #{img4,jdbcType=VARCHAR},
      </if>
      <if test="img5 != null">
        img5 = #{img5,jdbcType=VARCHAR},
      </if>
      <if test="img6 != null">
        img6 = #{img6,jdbcType=VARCHAR},
      </if>
      <if test="img7 != null">
        img7 = #{img7,jdbcType=VARCHAR},
      </if>
      <if test="img8 != null">
        img8 = #{img8,jdbcType=VARCHAR},
      </if>
      <if test="img9 != null">
        img9 = #{img9,jdbcType=VARCHAR},
      </if>
      <if test="showStatus != null">
        show_status = #{showStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkOperator != null">
        check_operator = #{checkOperator,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null">
        prize_type = #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="prizeCount != null">
        prize_count = #{prizeCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hndl.cn.dao.shop.bean.ShopOrderShowInfoDo">
    update shop_order_show_info
    set is_Deleted = #{isDeleted,jdbcType=CHAR},
      create_Operator = #{createOperator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_Operator = #{lastOperator,jdbcType=VARCHAR},
      last_Modify_Time = #{lastModifyTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      show_title = #{showTitle,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      img1 = #{img1,jdbcType=VARCHAR},
      img2 = #{img2,jdbcType=VARCHAR},
      img3 = #{img3,jdbcType=VARCHAR},
      img4 = #{img4,jdbcType=VARCHAR},
      img5 = #{img5,jdbcType=VARCHAR},
      img6 = #{img6,jdbcType=VARCHAR},
      img7 = #{img7,jdbcType=VARCHAR},
      img8 = #{img8,jdbcType=VARCHAR},
      img9 = #{img9,jdbcType=VARCHAR},
      show_status = #{showStatus,jdbcType=VARCHAR},
      check_operator = #{checkOperator,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      prize_count = #{prizeCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>