<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hndl.cn.dao.shop.mapper.ShopAppItemCountDoMapper">
  <resultMap id="BaseResultMap" type="com.hndl.cn.dao.shop.bean.ShopAppItemCountDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="is_Deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="create_Operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_Operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_Modify_Time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="shop_item_templet_id" jdbcType="BIGINT" property="shopItemTempletId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="count_date" jdbcType="DATE" property="countDate" />
    <result column="partake_people_number" jdbcType="BIGINT" property="partakePeopleNumber" />
    <result column="visit_count" jdbcType="BIGINT" property="visitCount" />
    <result column="order_count" jdbcType="BIGINT" property="orderCount" />
    <result column="lottery_number" jdbcType="BIGINT" property="lotteryNumber" />
    <result column="reserve" jdbcType="VARCHAR" property="reserve" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, is_Deleted, create_Operator, create_time, last_Operator, last_Modify_Time, shop_item_templet_id, 
    title, count_date, partake_people_number, visit_count, order_count, lottery_number, 
    reserve
  </sql>
  <select id="selectByExample" parameterType="com.hndl.cn.dao.shop.bean.ShopAppItemCountDoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_app_item_count
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_app_item_count
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop_app_item_count
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hndl.cn.dao.shop.bean.ShopAppItemCountDoExample">
    delete from shop_app_item_count
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hndl.cn.dao.shop.bean.ShopAppItemCountDo">
    insert into shop_app_item_count (id, is_Deleted, create_Operator, 
      create_time, last_Operator, last_Modify_Time, 
      shop_item_templet_id, title, count_date, 
      partake_people_number, visit_count, order_count, 
      lottery_number, reserve)
    values (#{id,jdbcType=BIGINT}, #{isDeleted,jdbcType=CHAR}, #{createOperator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastOperator,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{shopItemTempletId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{countDate,jdbcType=DATE}, 
      #{partakePeopleNumber,jdbcType=BIGINT}, #{visitCount,jdbcType=BIGINT}, #{orderCount,jdbcType=BIGINT}, 
      #{lotteryNumber,jdbcType=BIGINT}, #{reserve,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hndl.cn.dao.shop.bean.ShopAppItemCountDo">
    insert into shop_app_item_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDeleted != null">
        is_Deleted,
      </if>
      <if test="createOperator != null">
        create_Operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastOperator != null">
        last_Operator,
      </if>
      <if test="lastModifyTime != null">
        last_Modify_Time,
      </if>
      <if test="shopItemTempletId != null">
        shop_item_templet_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="countDate != null">
        count_date,
      </if>
      <if test="partakePeopleNumber != null">
        partake_people_number,
      </if>
      <if test="visitCount != null">
        visit_count,
      </if>
      <if test="orderCount != null">
        order_count,
      </if>
      <if test="lotteryNumber != null">
        lottery_number,
      </if>
      <if test="reserve != null">
        reserve,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopItemTempletId != null">
        #{shopItemTempletId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="countDate != null">
        #{countDate,jdbcType=DATE},
      </if>
      <if test="partakePeopleNumber != null">
        #{partakePeopleNumber,jdbcType=BIGINT},
      </if>
      <if test="visitCount != null">
        #{visitCount,jdbcType=BIGINT},
      </if>
      <if test="orderCount != null">
        #{orderCount,jdbcType=BIGINT},
      </if>
      <if test="lotteryNumber != null">
        #{lotteryNumber,jdbcType=BIGINT},
      </if>
      <if test="reserve != null">
        #{reserve,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hndl.cn.dao.shop.bean.ShopAppItemCountDoExample" resultType="java.lang.Long">
    select count(*) from shop_app_item_count
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_app_item_count
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_Deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
      <if test="record.createOperator != null">
        create_Operator = #{record.createOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastOperator != null">
        last_Operator = #{record.lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null">
        last_Modify_Time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopItemTempletId != null">
        shop_item_templet_id = #{record.shopItemTempletId,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.countDate != null">
        count_date = #{record.countDate,jdbcType=DATE},
      </if>
      <if test="record.partakePeopleNumber != null">
        partake_people_number = #{record.partakePeopleNumber,jdbcType=BIGINT},
      </if>
      <if test="record.visitCount != null">
        visit_count = #{record.visitCount,jdbcType=BIGINT},
      </if>
      <if test="record.orderCount != null">
        order_count = #{record.orderCount,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryNumber != null">
        lottery_number = #{record.lotteryNumber,jdbcType=BIGINT},
      </if>
      <if test="record.reserve != null">
        reserve = #{record.reserve,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_app_item_count
    set id = #{record.id,jdbcType=BIGINT},
      is_Deleted = #{record.isDeleted,jdbcType=CHAR},
      create_Operator = #{record.createOperator,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_Operator = #{record.lastOperator,jdbcType=VARCHAR},
      last_Modify_Time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      shop_item_templet_id = #{record.shopItemTempletId,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      count_date = #{record.countDate,jdbcType=DATE},
      partake_people_number = #{record.partakePeopleNumber,jdbcType=BIGINT},
      visit_count = #{record.visitCount,jdbcType=BIGINT},
      order_count = #{record.orderCount,jdbcType=BIGINT},
      lottery_number = #{record.lotteryNumber,jdbcType=BIGINT},
      reserve = #{record.reserve,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hndl.cn.dao.shop.bean.ShopAppItemCountDo">
    update shop_app_item_count
    <set>
      <if test="isDeleted != null">
        is_Deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="createOperator != null">
        create_Operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        last_Operator = #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_Modify_Time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopItemTempletId != null">
        shop_item_templet_id = #{shopItemTempletId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="countDate != null">
        count_date = #{countDate,jdbcType=DATE},
      </if>
      <if test="partakePeopleNumber != null">
        partake_people_number = #{partakePeopleNumber,jdbcType=BIGINT},
      </if>
      <if test="visitCount != null">
        visit_count = #{visitCount,jdbcType=BIGINT},
      </if>
      <if test="orderCount != null">
        order_count = #{orderCount,jdbcType=BIGINT},
      </if>
      <if test="lotteryNumber != null">
        lottery_number = #{lotteryNumber,jdbcType=BIGINT},
      </if>
      <if test="reserve != null">
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hndl.cn.dao.shop.bean.ShopAppItemCountDo">
    update shop_app_item_count
    set is_Deleted = #{isDeleted,jdbcType=CHAR},
      create_Operator = #{createOperator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_Operator = #{lastOperator,jdbcType=VARCHAR},
      last_Modify_Time = #{lastModifyTime,jdbcType=TIMESTAMP},
      shop_item_templet_id = #{shopItemTempletId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      count_date = #{countDate,jdbcType=DATE},
      partake_people_number = #{partakePeopleNumber,jdbcType=BIGINT},
      visit_count = #{visitCount,jdbcType=BIGINT},
      order_count = #{orderCount,jdbcType=BIGINT},
      lottery_number = #{lotteryNumber,jdbcType=BIGINT},
      reserve = #{reserve,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>