<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hndl.cn.dao.imsinger.mapper.ImsingerWhoComeRecordDoMapper">
  <resultMap id="BaseResultMap" type="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="is_Deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="create_Operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_Operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_Modify_Time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="vote_singer_id1" jdbcType="BIGINT" property="voteSingerId1" />
    <result column="vote_singer_id2" jdbcType="BIGINT" property="voteSingerId2" />
    <result column="vote_singer_id3" jdbcType="BIGINT" property="voteSingerId3" />
    <result column="vote_singer_id4" jdbcType="BIGINT" property="voteSingerId4" />
    <result column="vote_singer_id5" jdbcType="BIGINT" property="voteSingerId5" />
    <result column="vote_singer_id6" jdbcType="BIGINT" property="voteSingerId6" />
    <result column="vote_singer_id7" jdbcType="BIGINT" property="voteSingerId7" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, is_Deleted, create_Operator, create_time, last_Operator, last_Modify_Time, vote_singer_id1, 
    vote_singer_id2, vote_singer_id3, vote_singer_id4, vote_singer_id5, vote_singer_id6, 
    vote_singer_id7, create_date
  </sql>
  <select id="selectByExample" parameterType="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from imsinger_who_come_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from imsinger_who_come_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from imsinger_who_come_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDoExample">
    delete from imsinger_who_come_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDo">
    insert into imsinger_who_come_record (id, is_Deleted, create_Operator, 
      create_time, last_Operator, last_Modify_Time, 
      vote_singer_id1, vote_singer_id2, vote_singer_id3, 
      vote_singer_id4, vote_singer_id5, vote_singer_id6, 
      vote_singer_id7, create_date)
    values (#{id,jdbcType=BIGINT}, #{isDeleted,jdbcType=CHAR}, #{createOperator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastOperator,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{voteSingerId1,jdbcType=BIGINT}, #{voteSingerId2,jdbcType=BIGINT}, #{voteSingerId3,jdbcType=BIGINT}, 
      #{voteSingerId4,jdbcType=BIGINT}, #{voteSingerId5,jdbcType=BIGINT}, #{voteSingerId6,jdbcType=BIGINT}, 
      #{voteSingerId7,jdbcType=BIGINT}, #{createDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDo">
    insert into imsinger_who_come_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDeleted != null">
        is_Deleted,
      </if>
      <if test="createOperator != null">
        create_Operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastOperator != null">
        last_Operator,
      </if>
      <if test="lastModifyTime != null">
        last_Modify_Time,
      </if>
      <if test="voteSingerId1 != null">
        vote_singer_id1,
      </if>
      <if test="voteSingerId2 != null">
        vote_singer_id2,
      </if>
      <if test="voteSingerId3 != null">
        vote_singer_id3,
      </if>
      <if test="voteSingerId4 != null">
        vote_singer_id4,
      </if>
      <if test="voteSingerId5 != null">
        vote_singer_id5,
      </if>
      <if test="voteSingerId6 != null">
        vote_singer_id6,
      </if>
      <if test="voteSingerId7 != null">
        vote_singer_id7,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voteSingerId1 != null">
        #{voteSingerId1,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId2 != null">
        #{voteSingerId2,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId3 != null">
        #{voteSingerId3,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId4 != null">
        #{voteSingerId4,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId5 != null">
        #{voteSingerId5,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId6 != null">
        #{voteSingerId6,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId7 != null">
        #{voteSingerId7,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDoExample" resultType="java.lang.Long">
    select count(*) from imsinger_who_come_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update imsinger_who_come_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_Deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
      <if test="record.createOperator != null">
        create_Operator = #{record.createOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastOperator != null">
        last_Operator = #{record.lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null">
        last_Modify_Time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.voteSingerId1 != null">
        vote_singer_id1 = #{record.voteSingerId1,jdbcType=BIGINT},
      </if>
      <if test="record.voteSingerId2 != null">
        vote_singer_id2 = #{record.voteSingerId2,jdbcType=BIGINT},
      </if>
      <if test="record.voteSingerId3 != null">
        vote_singer_id3 = #{record.voteSingerId3,jdbcType=BIGINT},
      </if>
      <if test="record.voteSingerId4 != null">
        vote_singer_id4 = #{record.voteSingerId4,jdbcType=BIGINT},
      </if>
      <if test="record.voteSingerId5 != null">
        vote_singer_id5 = #{record.voteSingerId5,jdbcType=BIGINT},
      </if>
      <if test="record.voteSingerId6 != null">
        vote_singer_id6 = #{record.voteSingerId6,jdbcType=BIGINT},
      </if>
      <if test="record.voteSingerId7 != null">
        vote_singer_id7 = #{record.voteSingerId7,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update imsinger_who_come_record
    set id = #{record.id,jdbcType=BIGINT},
      is_Deleted = #{record.isDeleted,jdbcType=CHAR},
      create_Operator = #{record.createOperator,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_Operator = #{record.lastOperator,jdbcType=VARCHAR},
      last_Modify_Time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      vote_singer_id1 = #{record.voteSingerId1,jdbcType=BIGINT},
      vote_singer_id2 = #{record.voteSingerId2,jdbcType=BIGINT},
      vote_singer_id3 = #{record.voteSingerId3,jdbcType=BIGINT},
      vote_singer_id4 = #{record.voteSingerId4,jdbcType=BIGINT},
      vote_singer_id5 = #{record.voteSingerId5,jdbcType=BIGINT},
      vote_singer_id6 = #{record.voteSingerId6,jdbcType=BIGINT},
      vote_singer_id7 = #{record.voteSingerId7,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDo">
    update imsinger_who_come_record
    <set>
      <if test="isDeleted != null">
        is_Deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="createOperator != null">
        create_Operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        last_Operator = #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_Modify_Time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voteSingerId1 != null">
        vote_singer_id1 = #{voteSingerId1,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId2 != null">
        vote_singer_id2 = #{voteSingerId2,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId3 != null">
        vote_singer_id3 = #{voteSingerId3,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId4 != null">
        vote_singer_id4 = #{voteSingerId4,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId5 != null">
        vote_singer_id5 = #{voteSingerId5,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId6 != null">
        vote_singer_id6 = #{voteSingerId6,jdbcType=BIGINT},
      </if>
      <if test="voteSingerId7 != null">
        vote_singer_id7 = #{voteSingerId7,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hndl.cn.dao.imsinger.bean.ImsingerWhoComeRecordDo">
    update imsinger_who_come_record
    set is_Deleted = #{isDeleted,jdbcType=CHAR},
      create_Operator = #{createOperator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_Operator = #{lastOperator,jdbcType=VARCHAR},
      last_Modify_Time = #{lastModifyTime,jdbcType=TIMESTAMP},
      vote_singer_id1 = #{voteSingerId1,jdbcType=BIGINT},
      vote_singer_id2 = #{voteSingerId2,jdbcType=BIGINT},
      vote_singer_id3 = #{voteSingerId3,jdbcType=BIGINT},
      vote_singer_id4 = #{voteSingerId4,jdbcType=BIGINT},
      vote_singer_id5 = #{voteSingerId5,jdbcType=BIGINT},
      vote_singer_id6 = #{voteSingerId6,jdbcType=BIGINT},
      vote_singer_id7 = #{voteSingerId7,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>