<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hndl.cn.dao.wechat.mapper.WechatAppletsCustomerMsgConfigDoMapper">
    <resultMap id="BaseResultMap" type="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="client_msg" jdbcType="VARCHAR" property="clientMsg"/>
        <result column="client_msg_type" jdbcType="INTEGER" property="clientMsgType"/>
        <result column="response_msg" jdbcType="VARCHAR" property="responseMsg"/>
        <result column="response_msg_type" jdbcType="INTEGER" property="responseMsgType"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, client_msg, client_msg_type, response_msg, response_msg_type, create_user_id , create_time,
    update_user_id, update_time, is_delete
  </sql>
    <select id="selectByExample" parameterType="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDoExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from wechat_applets_customer_msg_config
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wechat_applets_customer_msg_config
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wechat_applets_customer_msg_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDoExample">
        delete from wechat_applets_customer_msg_config
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDo">
    insert into wechat_applets_customer_msg_config  ( id, client_msg, client_msg_type, response_msg, response_msg_type, create_user_id , create_time,
    update_user_id, update_time, is_delete )
    values (#{id,jdbcType=BIGINT}, #{clientMsg,jdbcType=CHAR}, #{clientMsgType,jdbcType=VARCHAR},
      #{responseMsg,jdbcType=TIMESTAMP}, #{responseMsgType,jdbcType=VARCHAR}, #{createUserId,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
      #{isDelete,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDo">
        insert into wechat_applets_customer_msg_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clientMsg != null">
                client_msg,
            </if>
            <if test="clientMsgType != null">
                client_msg_type,
            </if>
            <if test="responseMsg != null">
                response_msg,
            </if>
            <if test="responseMsgType != null">
                response_msg_type,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="isDeleted != null">
                #{clientMsg,jdbcType=CHAR},
            </if>
            <if test="createOperator != null">
                #{clientMsgType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{responseMsg,jdbcType=TIMESTAMP},
            </if>
            <if test="lastOperator != null">
                #{responseMsgType,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyTime != null">
                #{createUserId,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="videoContent != null">
                #{isDelete,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDoExample"
            resultType="java.lang.Long">
        select count(*) from wechat_applets_customer_msg_config
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update wechat_applets_customer_msg_config
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.clientMsg != null">
                client_msg = #{record.clientMsg,jdbcType=CHAR},
            </if>
            <if test="record.clientMsgType != null">
                client_msg_type = #{record.clientMsgType,jdbcType=VARCHAR},
            </if>
            <if test="record.responseMsg != null">
                response_msg = #{record.responseMsg,jdbcType=TIMESTAMP},
            </if>
            <if test="record.responseMsgType != null">
                response_msg_type = #{record.responseMsgType,jdbcType=VARCHAR},
            </if>
            <if test="record.createUserId != null">
                create_user_id = #{record.createUserId,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=VARCHAR},
            </if>
            <if test="record.updateUserId != null">
                update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update wechat_applets_customer_msg_config
        set id = #{record.id,jdbcType=BIGINT},
        client_msg = #{record.clientMsg,jdbcType=CHAR},
        client_msg_type = #{record.clientMsgType,jdbcType=VARCHAR},
        response_msg = #{record.responseMsg,jdbcType=TIMESTAMP},
        response_msg_type = #{record.responseMsgType,jdbcType=VARCHAR},
        create_user_id = #{record.createUserId,jdbcType=TIMESTAMP},
        create_time = #{record.createTime,jdbcType=VARCHAR},
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=VARCHAR},
        is_delete = #{record.isDelete,jdbcType=VARCHAR},
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDo">
        update wechat_applets_customer_msg_config
        <set>
            <if test="clientMsg != null">
                client_msg = #{clientMsg,jdbcType=CHAR},
            </if>
            <if test="clientMsgType != null">
                client_msg_type = #{clientMsgType,jdbcType=VARCHAR},
            </if>
            <if test="responseMsg != null">
                response_msg = #{responseMsg,jdbcType=TIMESTAMP},
            </if>
            <if test="responseMsgType != null">
                response_msg_type = #{responseMsgType,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hndl.cn.dao.wechat.bean.WechatAppletsCustomerMsgConfigDo">
    update wechat_applets_customer_msg_config
    set client_msg = #{clientMsg,jdbcType=CHAR},
      client_msg_type = #{clientMsgType,jdbcType=VARCHAR},
      response_msg = #{responseMsg,jdbcType=TIMESTAMP},
      response_msg_type = #{responseMsgType,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>